{% extends 'travel/_base.html' %}
{% load static %}
{% block content %}
	
<body>
    <div class="bg-hero">
        <section class="top">
            <header>
                <a href="#">Developer</a>
            </header>
            <h1><span>The</span>Django Weather App</h1>
            <p>The Weather App developed with Pytho, Django, CSS, HTML.<p>
             
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-left">
                        <label for="name">Enter name</label>
                        <input type="text" name="city" id="name" placeholder="Choose city.....">
                        <p>Example: Windhoek</p>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </div>
        </section>
    </div>
       <section class="authentic">
        <div class="right-col">
          <h2>Weather Information</h2>
            {% if country_code %}
             
                      <h4><span class="badge badge-danger">Country Code :</span> {{country_code}}</h4>
                      
            {% endif %} 
        <div>
       </section>
            
</body>

{% endblock %}