{% extends 'travel/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Delete Plan{% endblock title %}

{% block content %} 

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"style="background-image: url('{% static "travel/images/img_bg_3.jpg" %}')">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">

                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                       
                        <h1 style="text-align: center;">Delete Plan</h1>

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

</header>

<div class="gtco-section border-bottom">
    <div class="gtco-container"> 
        <hr>

             <form method="post">
                 <div class="row form-group">
                    <div class="col-md-12">
                         {% csrf_token %}
                         {{ form | crispy }}
                        <p>Are you sure you want to delete "{{ trip.activity}}" ?</p>
                         <button class="btn btn-danger btn-block" type="submit" value="Confirm">Delete</button>
                        

                    </div>
                 </div>
                                           
              </form>
    </div>
</div>


{% endblock %}    