{% extends 'travel/_base.html' %}
{% load static %}

{% block title %}{{object.destination.name }} - Details {% endblock title%}
{% block content %}

	
	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('{% static "travel/images/img_2.jpg" %}')">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>My Travel Details</h1>	
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
    <div class="gtco-section">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="fh5co-faq-list">
						<li class="animate-box">
							<h2>My trip from {{ trip_detail.country.name }} to {{ trip_detail.destination.name }}.</h2>
							<h3><small>{{ trip_detail.start }} - {{ trip_detail.end }}</small>.</h3>
							<p><strong>Activity - </strong> {{ trip_detail.activity }}.</p>
							<br>
							<p><button class="btn btn-primary btn-block"><a href="{% url 'travel_edit' trip_detail.pk %}" style="color:white;">+ Edit Plan</a></button></p> 
							<p><button class="btn btn-danger btn-block"> <a href="{% url 'travel_delete' trip_detail.pk %}">+ Delete Plan list</a></button></p>
						
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>

{% endblock %}